<footer class="footer is-paddingless">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Visor Advisor</strong> by Aimee Attenborough</a>.
      </p>
    </div>
  </div>
</footer>
