<div id="particles-js"></div>

<div class="container">
  <form method="POST" action="/login">
    <div class="field">
      <label for="email">Email</label>
      <input class="input" type="text" name="email" id="email">
    </div>
    <div class="field">
      <label for="password">Password</label>
      <input class="input" type="password" name="password" id="password">
    </div>
    <button class="button">Login</button>
  </form>
</div>
